<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-card *ngIf="!isLoading" class='profile-card'>
  <div class="test">
    <ul>
      <li> <mat-card-content (click)="getFollowerList()">Followers: {{user.followerCount}} </mat-card-content> </li>
      <li> <mat-card-content (click)="getFollowingList()">Following: {{user.followingCount}} </mat-card-content> </li>
      <li> <mat-card-content>Posts: {{user.postCount}} </mat-card-content> </li>
    </ul>
  </div>
  <div>
    <mat-card-title>{{this.user.username}}</mat-card-title>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  </div>
  <div>
    <!-- Only show the button if the user is logged in and he is not viewing his own profile-->
    <div *ngIf="loginId && !isSameUser">
      <!-- If the user on the profile is not followed, then we show the follow button -->
      <button *ngIf="!user.isFollowed" (click)="followUser()">Follow</button>
      <!-- If the user on the profile is followed, then we show the following button -->
      <button *ngIf="user.isFollowed" style="background-color: lightblue;" (click)="unfollowUser()">Following</button>
    </div>
  </div>
</mat-card>

<app-post-list></app-post-list>
