<mat-card>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm">
      <mat-form-field>
          <input matInput type="text" [ngModel]="post.title" name="title" required placeholder="Post title" #title="ngModel">
          <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput rows="4" [ngModel]="post.content" name="content" required placeholder="Post content" #content="ngModel"></textarea>
          <mat-error *ngIf="content.invalid">Please enter some post content</mat-error>

        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Save Post</button>
  </form>
</mat-card>
