<main>
  <div class="container">
    <div class="gallery">
      <div *ngFor="let post of posts" class="gallery-item" tabindex="0">
        <img [src]="post.imagePath" class="gallery-image" alt="post.title" />

        <div class="gallery-item-info">
          <ul>
            <li class="gallery-item-likes">
              <span class="visually-hidden">Likes:</span
              ><i class="fas fa-heart" aria-hidden="true"></i> 56
            </li>
            <li class="gallery-item-comments">
              <span class="visually-hidden">Comments:</span
              ><i class="fas fa-comment" aria-hidden="true"></i> 2
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End of gallery -->

    <div class="loader"></div>
  </div>
  <!-- End of container -->
</main>
